/* navy */
/* grey */
html,
body,
ul,
ol,
a,
p,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
  display: table;
}

* {
  color: #363742;
}

a:link,
a:visited {
  color: #363742;
}

a:hover,
a:active {
  color: #000;
}

button {
  outline: none;
  border: none;
  background: none;
}

/**
 * App-wide Styles
 */
html {
  font-size: 62.5%;
}

/* font-size: 62.5% now means that 1.0 rem = 10px */
* {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
